<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
p.add a,a:visited{
	text-decoration: none;}

p.add a:hover{
	text-decoration: none;}

th, td{
	border: 1px solid #CCC;
	font-size: 13px;}
	
textarea{
	font-size: 13px;}
	
td a,a:visited{
	font-weight: bold;
	color: #9999CC;}

td a:hover{
	text-decoration: none;}

td a.delete:hover{
	background-color: #F00;
	color: #FFF;}
</style>
</head>

<body>
<p class="add"><a href="process.php?action=add">新增</a></p>
<table width="100%" cellspacing="0" cellpadding="2">
 <tbody>
	<tr bgcolor="#00CD00">
		<th width="3%">ID</th>
		<th width="10%">单词</th>
		<th width="10%">音标</th>
		<th width="29%">牛津释义</th>
		<th width="40%">网络释义</th>
		<th width="8%">操作</th>
	</tr>
	{foreach from=$basics item=basic}
	<tr>
	 {foreach from=$basic item=item key=key}
	 <!-- 为了使表格美观整齐，将“牛津释义”表格单元放在文本域中。-->
	 {if $key eq "network_def"}
		<td><textarea rows="5" cols="61">{$item}</textarea></td>
	 {else}
		<td>{$item}</td>
	 {/if}
	 {/foreach}
		<td>
			<a href="process.php?action=edit&id={$basic['id']}">编辑</a>&nbsp;&nbsp;&nbsp;<a class="delete"
			href="process.php?action=delete&id={$basic['id']}">删除</a>
		</td>
	 </tr>
	{/foreach}
 </tbody>
</table>
</body>
</html>