<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
fieldset{
	font-size: 14px;}

td, textarea{
	font-size: 13px;
	font-family: Courier;}

span{
	color: #F00;}

#info{
	color: #F00;
	font-size: 13px;
	font-weight: bold;}
</style>
</head>

<body>
<fieldset>
<legend><strong>编辑单词例句</strong></legend>
<form>
<table>
 <tbody>
	<tr>
		<td align="right"><label for="word">单词</label></td>
		<td><input type="text" name="word" id="word" value="{$example.word}" readonly="readonly" /></td>
	</tr>
	<tr>
		<td align="right"><label for="example_en">例句</label></td>
		<td><textarea id="example_en" name="example_en" rows="3" cols="61">{$example.example_en}</textarea>&nbsp;<span>*</span></td>
	</tr>
	<tr>
		<td align="right"><label for="example_zh">翻译</label></td>
		<td><textarea id="example_zh" name="example_zh" rows="3" cols="61">{$example.example_zh}</textarea></td>
	</tr>
	<tr>
		<td cols="2"><input type="button" id="save" value="提交" /></td>
	</tr>
 </tbody>
</table>
</form>
</fieldset>
<p id="info"></p>

<script type="text/javascript" src="../jquery-1.7.2.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$('#save').click(function(){
		if ($.trim($('#word').val()) == '')
		{
			$('#info').html('请填写单词！');
			$('#word').focus();
			return false;
		}
		else if ($.trim($('#example_en').val()) == '')
		{
			$('#info').html('请填写例句！');
			$('#example_en').focus();
			return false;
		}
		else
		{
			$.post(
				'process.php',
				{
					anchor: 'e_edit', // 控制变量
					id: {$example.id},
					example_en: $.trim($('#example_en').val()), 
					example_zh: $.trim($('#example_zh').val())
				},
				function(data)
				{
					$('fieldset').hide();
					$('#info').html(data);
					$('#info').css('color', 'green');
				}
			);
		}
	});
});
</script>
</body>
</html>