<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
p{
	font-size: 15px;
	font-family: Courier;}

h3{
	color: #9999CC;}
</style>
</head>

<body>
<h3>Hi</h3>
<p>这是一个个人词典系统(Personal Dict System)，用来帮助学习英语。</p>
<p>它主要包括：音标和读音，牛津释义，网络释义和例句四个模块。样式仿照“百度词典”，尽量保持简洁的风格。</p>
<p>PDS作为一个开源项目，源代码托管在GitHub上，地址为：<a href="https://github.com/phplaber/pds">PDS在GitHub上</a>。</p>
<h3>Contact</h3>
<p>@phplaber<br /><br />邮箱：phplaber at gmail dot com<br />
微博：weibo.com/phplaber<br />
网站：phplaber.iteye.com</p>
</body>
</html>